@font-face {
  font-family: 'lalehzar';
  src: url('../assets/font/Lalehzar/Lalezar-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'IRANsans';
  src: url('../assets/font/IRANsans/IRANsans.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Googlesans';
  src: url('../assets/font/googlesans/GoogleSans.ttf');
  font-style: normal;
  font-weight: normal;
}
// @font-face {
//   font-family: 'GooglesansBold';
//   src: url('/src/assets/font/googlesans/GoogleSansBold');
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: 'GooglesansLight';
//   src: url('../assets/font/googlesans/GooglesansLight');
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: 'GooglesansThin';
//   src: url('../assets/font/googlesans/GooglesansThin');
//   font-style: normal;
//   font-weight: 400;
// }
// @font-face {
//   font-family: 'CircularStd';
//   src: url('../assets/font/circularstd/circularStd.ttf');
//   font-weight: 900;
// }
// @font-face {
//   font-family: 'pacifico';
//   src: url('../assets/font/pacifico/pacifico.ttf');
// }
